/* Default style */
a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* background image */
.back-img {
  background-image: url("../images/cafe_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vh;
}

/* flex for main text */
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  font-size: 35px;
  font-weight: 700;
  color: rgba(256, 256, 256, 0.7);
}

/* button */
.btn-right-align {
  display: flex;
  justify-content: flex-end;
}
