a,
a:hover {
  text-decoration: none;
}

.back-img {
  background-image: url("./images/cafe_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vh;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  font-size: 35px;
  font-weight: 700;
  color: rgba(256, 256, 256, 0.7);
}

.button-modify {
  font-size: 55px;
  background-color: red;
}

.btn-right-align {
  display: flex;
  justify-content: flex-end;
}
